%h1 Items Index 
%p
  = "Showing the #{@max_items} latest entries of #{@feed_url}"
%p
  You probably want this in RSS:
  = link_to 'RSS', '/hs_fix/index.rss'

%ul
  - @feed_items.each do |item|
    %li= item.inspect